﻿@model IEnumerable<BookstoreMvcProject.Models.Bookstore>
@{
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var bs in Model)
	{
		<tr>
			<td>@Html.DisplayFor(m => bs.Id)</td>
			<td>@Html.DisplayFor(m => bs.Name)</td>
			<td>@Html.ActionLink("Obrisi", "Obrisi", "Knjizara", new { Id = bs.Id }, null)</td>
			<td>@Html.ActionLink("Azuriraj", "Azuriraj", "Knjizara", new { Id = bs.Id }, null)</td>
		</tr>
	}
</table>

