﻿
@{
	ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SearchResults", "Bookstores", FormMethod.Get, new { @id = "searchOrSort", @class = "form-inline" }))
{
	@Html.TextBox("searchQuery", null, new { @type = "text", @placeholder = "Unesite kriterijum pretrage" })
	@Html.Label("search by", new { @for = "category" })
	<select id="category" , name="searchCategory">
		<option value="1">Po naslovu</option>
		<option value="2">Po zanru</option>
		<option value="3">Po poglavlju</option>
	</select>

	<button type="submit">Pretraga</button>
}

