﻿@model IEnumerable<BookstoreMvcProject.Models.Book>
@{
	ViewBag.Title = "SearchResults";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
	<tr>
		<th>I.Br.</th>
		<th>Naslov</th>
		<th>Cena</th>
	</tr>
	@foreach (var book in Model)
	{
		<tr>
			<td>@Html.DisplayFor(m => book.Id)</td>
			<td>@Html.DisplayFor(m => book.Title)</td>
			<td>@Html.DisplayFor(m => book.Price)</td>
		</tr>
	}
</table>

