﻿
@{
	ViewBag.Title = "Sort";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SortResults", "Bookstores", FormMethod.Get, new { @id = "searchOrSort", @class = "form-inline" }))
{
	<select id="sortBy" name="sortBy">
		<option value="1">Naslov</option>
		<option value="2">Cena</option>
	</select>
	@Html.Label("", new { @for = "order" })
	<select id="order" name="order">
		<option value="1">Rastuce</option>
		<option value="2">Opadajuce</option>
	</select>
	<button type="submit">Sortiraj</button>
}

