﻿@model BookstoreMvcProject.Models.Bookstore
@{
	ViewBag.Title = "Update";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Azuriraj", "Knjizara", FormMethod.Post))
{
	<table>
		<tr>
			<th>Naziv</th>
			<td>
				@Html.Hidden("Bookstore.Id", Model.Id)
				@Html.TextBox("Bookstore.Name", Model.Name)
			</td>
		</tr>
		<tr colspan="2">
			<td>@Html.TextBox("submit", "Update bookstore", new { @type = "submit", @class = "adding" })</td>
		</tr>
	</table>
}

