﻿@model BookstoreMvcProject.ViewModels.BooksChaptersViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Napravi", "Poglavlja", FormMethod.Post))
{
	@Html.Label("Chapter name", new { @for = "name" })
	@Html.TextBox("Name", "", new { @class = "adding", @id = "name", @type = "text", @placeholder = "Naziv poglavlja" })

	@Html.TextBox("submit", "Add Chapter", new { @type = "submit", @class = "adding" })
}

<h2>Dodaj poglavlje u knjigu</h2>

@using (Html.BeginForm("DodajPoglavljeKnjizi", "Poglavlja", FormMethod.Post))
{
	@Html.Label("Book title", new { @for = "bookTitle" })
	<select id="bookTitle" class="adding" name="bookId">
		@foreach (var book in Model.Books)
		{
			<option value="@book.Id">@book.Title</option>
		}
	</select>

	@Html.Label("Chapter name", new { @for = "chapterName" })
	<select id="chapterName" class="adding" name="chapterId">
		@foreach (var chapter in Model.Chapters)
		{
			<option value="@chapter.Id">@chapter.Name</option>
		}
	</select>

	@Html.TextBox("submit", "Add chapter to book", new { @type = "submit", @class = "adding" })
}

<table>
	<tr>
		<th>I.Br.</th>
		<th>Naziv</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var chapter in Model.Chapters)
	{
		<tr>
			<td>@Html.DisplayFor(m => chapter.Id)</td>
			<td>@Html.DisplayFor(m => chapter.Name)</td>
			<td>@Html.ActionLink("delete", "Obrisi", "Poglavlje", new { Id = chapter.Id }, null)</td>
			<td>@Html.ActionLink("update", "Azuriraj", "Poglavlje", new { Id = chapter.Name }, null)</td>
		</tr>
	}
</table>

