﻿@model BookstoreMvcProject.Models.Chapter
@{
	ViewBag.Title = "Update";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="Poglavlje/Azuriraj" method="post">
	<table>
		<tr>
			<th>Naziv</th>
			<td>
				<input type="hidden" name="Chapter.Id" value="@Model.Id" />
				<input type="text" name="Chapter.Name" value="@Model.Name" />
			</td>
		</tr>
		<tr colspan="2">
			<td align="center"><input type="submit" class="adding" value="Azuriraj poglavlje" /></td>
		</tr>
	</table>
</form>

