﻿@model BookstoreMvcProject.ViewModels.BookstoresGenresViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Napravi", "Knjiga", FormMethod.Post))
{
	@Html.Label("Book title", new { @for = "title" })
	@Html.TextBox("title", null, new { @type = "text", @class = "adding", @id = "title", @placeholder = "Naslov knjige" })

	@Html.Label("Book price", new { @for = "price" })
	@Html.TextBox("price", null, new { @type = "number", @class = "adding", @id = "price", @placeholder = "Cena knjige", @step = "0.01" })

	@Html.Label("Book genre", new { @for = "genre" })
	<select id="genre" class="adding" name="GenreId">
		@foreach (var genre in Model.Genres)
		{
			<option value="@genre.Id">@genre.Name</option>
		}
	</select>

	@Html.Label("Bookstore", new { @for = "bookstore" })
	<select id="bookstore" class="adding" name="BookstoreId">
		@foreach (var bookstore in Model.Bookstores)
		{
			<option value="@bookstore.Id">@bookstore.Name</option>
		}
	</select>

	@Html.TextBox("submit", "Dodaj knjigu", new { @type = "submit", @class = "adding" })
	@Html.ValidationSummary()
}

