﻿@model BookstoreMvcProject.ViewModels.BooksBookstoresViewModel
@{
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Izlistaj", "Knjiga", FormMethod.Get))
{
	<select id="bookstore" class="adding" name="BookstoreId">
		@foreach (var bookstore in Model.Bookstores)
		{
			if (bookstore.Id == Model.SelectedBookstoreId)
			{
				<option value="@bookstore.Id" selected>@bookstore.Name</option>
			}
			else
			{
				<option value="@bookstore.Id">@bookstore.Name</option>
			}
		}
	</select>

	@Html.TextBox("submit", "Prikazi knjige", new { @type = "submit", @class = "adding" })
}

<table>
	<tr>
		<th>I.Br.</th>
		<th>Naslov</th>
		<th>Cena</th>
		<th>Zanr</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var book in Model.Books)
	{
		<tr>
			<td>@book.Id</td>
			<td>@book.Title</td>
			<td>@book.Price</td>
			<td>@book.Genre.Name</td>
			<td>@Html.ActionLink("delete", "Obrisi", "Knjiga", new { Id = book.Id }, null)</td>
			<td>@Html.ActionLink("update", "Azuriraj", "Knjiga", new { Id = book.Id }, null)</td>
		</tr>
	}
</table>

