﻿@model BookstoreMvcProject.ViewModels.BookGenresViewModel
@{
	ViewBag.Title = "Update";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Azuriraj", "Knjiga", FormMethod.Post))
{
	<table>
		<tr>
			<th>Naslov</th>
			<td>
				@Html.Hidden("Book.Id", Model.Book.Id)
				@Html.TextBox("Book.Title", Model.Book.Title)
			</td>
		</tr>
		<tr>
			<th>Cena</th>
			<td>
				@Html.TextBox("Book.Price", Model.Book.Price, new { @type = "number", @step = "0.01" })
			</td>
		</tr>
		<tr>
			<th>Zanr</th>
			<td>
				<select name="selectedGenreId">
					@foreach (var genre in Model.Genres)
					{
						if (genre.Id == Model.Book.Genre.Id)
						{
							<option value="@genre.Id" selected>@Html.DisplayFor(m => genre.Name)</option>
						}
						else
						{
							<option value="@genre.Id">@Html.DisplayFor(m => genre.Name)</option>
						}
					}
				</select>
			</td>
		</tr>
		<tr colspan="2">
			<td>@Html.TextBox("submit", "Azuriraj knjigu", new { @type = "submit", @class = "adding" })</td>
		</tr>
	</table>

	<table>
		<tr>
			<th>Broj poglavlja</th>
			<th>Naziv poglavlja</th>
			<th></th>
		</tr>
		@foreach (var chapter in Model.Book.Chapters)
		{
			<tr>
				<td>@Html.DisplayFor(m => chapter.Id)</td>
				<td>@Html.DisplayFor(m => chapter.Name)</td>
				<td>@Html.ActionLink("delete", "Obrisi poglavlje", "Knjiga", new { bookId = Model.Book.Id, chapterId = chapter.Id }, null)</td>
			</tr>
		}
	</table>
}

