﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/header.css")
	@Styles.Render("~/Content/footer.css")
	@Styles.Render("~/Content/form.css")
	@Styles.Render("~/Content/table.css")
	@Styles.Render("~/Content/search.css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#f1f1f1">
	<div class="header">
		<img src="~/Content/bookstore-icon-37380.png" style="width:54px;height:54px" />
		<div class="header-right">
			<a href="/Knjizara">Dodaj knjizaru</a>
			<a href="/Knjizara/Izlistaj">Izlistaj knjizare</a>
			<a href="/Knjiga">Dodaj knjigu</a>
			<a href="/Knjiga/Izlistaj">Izlistaj sve knjige</a>
			<a href="/Zanr">Dodaj zanr</a>
			<a href="/Zanr/Izlistaj">Izlistaj zanrove</a>
			<a href="/Poglavlja">Poglavlja</a>
			<a href="/Knjizara/Pretrazi">Pretraga</a>
			<a href="/Knjizara/Sortiraj">Sortiranje</a>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
	</div>

	<div class="footer">
		<footer>
			<p>&copy; @DateTime.Now.Year - Knjizara</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
