﻿input.adding[type=text], input.adding[type=number], select.adding {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.adding[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input.adding[type=submit]:hover {
    background-color: #45a049;
}

form {
    width:60%;
    background-color:darkgrey;
    padding: 15px;
}
