﻿form#searchOrSort {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

form#searchOrSort label {
    margin: 5px 10px 5px 0;
}

form#searchOrSort input, .form-inline select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

form#searchOrSort button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

form#searchOrSort button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    form#searchOrSort input {
        margin: 10px 0;
    }

    form#searchOrSort {
        flex-direction: column;
        align-items: stretch;
    }
}
