﻿@model IEnumerable<BookstoreMvcProject.Models.Genre>
@{
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
	<tr>
		<th>I.Br</th>
		<th>Naziv</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var genre in Model)
	{
		<tr>
			<td>@Html.DisplayFor(m => genre.Id)</td>
			<td>@Html.DisplayFor(m => genre.Name)</td>
			<td>@Html.ActionLink("delete", "Obrisi", "Zanr", new { Id = genre.Id }, null)</td>
			<td>@Html.ActionLink("update", "Azuriraj", "Zanr", new { Id = genre.Id }, null)</td>
		</tr>
	}
</table>
