﻿@model BookstoreMvcProject.Models.Genre
@{
	ViewBag.Title = "Update";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Azuriraj", "Zanr", FormMethod.Post))
{
	<table>
		<tr>
			<th>Naziv</th>
			<td>
				@Html.Hidden("Genre.Id", Model.Id)
				@Html.TextBox("Genre.Name", Model.Name)
			</td>
		</tr>
		<tr colspan="2">
			<td align="center">@Html.TextBox("submit", "Update genre", new { @type = "submit", @class = "adding" })</td>
		</tr>
	</table>
}

